.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.header h2{
    color: #6d28d9;
    margin: 20px;
    font-family: cursive;
}
.header img {
    border-radius: 50%;
    width: 51px;
    height: 50px;
    margin: 13px 20px 0px 0;
}